body{

padding: 0;
margin: 0; /*makes the box model fit the screen size exactly */

}

html,body, #map {

  height: 100vh;
  width: 100vw;

}

.card {
  width: 18rem;
  border-width: 2px;
  border-color: white;
}

/*When the screen width is less than 500px, A card will take up the entire width */
@media only screen and (max-width: 500px) {
  .card {
    width: auto;
  }
}

.card p {
  text-align: left;
  font-size: 15px;
}

.card h5 {
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  color: green;
}

.card li {
  background-color: #84eb67;
  text-align: center;
  color: black;
  font-size: 12px;
}

.card-img-top{
  width: 100%;
  display: block;
}

#mapid {
  height: 100%;
  width: 100%;
}

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 14px;
  margin: 2px 12px 8px;
  color: green;
  font-weight: bold;
}
